.links {
    color: #2b3241;
    text-decoration: none;
}

.links:hover {
    color: white;
    text-decoration: underline;
}

.made {
    background-image: linear-gradient(0deg, #e8e2d0 20%, #b0a18b);
    background-clip: text;
    font-family: Myriad Pro;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #2b3241;
}