@import url('https://fonts.cdnfonts.com/css/myriad-pro');

body {
    font-family: Myriad Pro;
    font-weight: 700;
    background-image: linear-gradient(to right, #2b3241 20%, #9ea2ad);
}

h3 {
    font-family: Myriad Pro;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
}

.bg {
    background-color: #b0a18b;
}

.hov:hover, .hov:active {
    color:rgb(91, 91, 91);
}