@import url('https://fonts.cdnfonts.com/css/myriad-pro');

body {
    font-family: Myriad Pro;
    font-weight: 700;
    background-image: linear-gradient(to right, #2b3241 20%, #9ea2ad);
    
}

.link {
    color: rgb(88, 89, 91)
}

.bg {
    background-color: #b0a18b;
}

.fbg {
    background-color: #b0a18b;
}